.labelRenderer{
    position: absolute;
    top: 0px;
    color: black;
    font-size: 60%;
  }
  .globusContainer {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .contentWrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .leaguesList {
    width: 250px; 
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    padding: 10px;
    overflow: hidden;
    top: 15%;
    left: 25%;
    border-radius: 15px;
    max-height: 70vh; 
    position: absolute;
    z-index: 1000;
    overflow-y: auto;
  }
  .leaguesList li,
  .Favorites li{
    border: 1px solid black;
    height: 50px;
    width: 170px;
    margin-bottom: 5px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    background-color:  rgba(197, 196, 196, 0.2); 
  }

  .leaguesList li:hover,
  .Favorites li:hover{
    cursor: pointer;
    background-color:  rgba(197, 196, 196, 0.4);
  }
  
  .leaguesList,
  .Favorites {
    scrollbar-color: rgba(0, 0, 0, 0.4) rgba(197, 196, 196, 0.4);
    scrollbar-width: thin;   
  }
  .Favorites {
    width: 250px; 
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    padding: 10px;
    overflow: hidden;
    top: 15%;
    right: 25%;
    border-radius: 15px;
    max-height: 70vh;
    min-height: 70vh; 
    position: absolute;
    z-index: 1000;
    overflow-y: auto;
  }

  button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-family: cursive;
  }

