.labelRenderer{
    position: absolute;
    top: 0px;
    font-size: 60%;
    font-family: cursive;
  }
  .globusContainer {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .contentWrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .leaguesList,
  .Favorites {
    width: 300px; 
    background-color: rgba(0, 0, 0, 0.4); 
    text-align: center;
    font-family: poppins;
    color: aliceblue;
    padding: 10px;
    overflow: hidden;
    top: 15%;
    left: 25%;
    border-radius: 15px;
    max-height: 70vh; 
    position: absolute;
    z-index: 1;
    overflow-y: auto;
  }
  .Favorites {
    right: 25%;
    left: auto;
  }

  .leaguesList li,
  .Favorites li{
    height: 50px;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    background-color:  rgba(197, 196, 196, 0.2); 
    font-family: poppins;
  }

  .leaguesList li:hover,
  .Favorites li:hover{
    cursor: pointer;
    background-color:  rgba(197, 196, 196, 0.4);
  }
  
.leaguesList::-webkit-scrollbar,
.Favorites::-webkit-scrollbar {
  width: 6px;
}

.leaguesList::-webkit-scrollbar-thumb,
.Favorites::-webkit-scrollbar-thumb {
  background-color: rgb(81, 190, 218); 
  border-radius: 15px; 
  border: 0px solid transparent;
}

.leaguesList::-webkit-scrollbar-track,
.Favorites::-webkit-scrollbar-track {
  background-color: transparent; 
}


.loginPrompt{
    position: absolute;
    left: 45%;
    top: 70%;
    z-index: 2;
}

.countryLabel{
  color: white;
  border-color: white;
}