
  .contentWrapper{
  width: 50vw; 
  background-color: rgba(0, 0, 0, 0.4); 
  color: aliceblue;
  text-align: center;
  font-family: poppins;
  top: 15%;
  left: 25%;
  border-radius: 15px;
  max-height: 70vh; 
  min-height: 70vh;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2;
  }

  .contentWrapper li{
    border: 1px solid black;
    height: 50px;
    width: 90%;
    margin-bottom: 5px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
    background: linear-gradient(to right, rgba(197, 196, 196, 0.08), rgba(197, 196, 196, 0.25)); 
    font-family: poppins;
  }

  .upcomingMatches li,
  .pastMatches li{
  border: 1px solid black;
  height: 50px;
  width: 90%;
  margin-bottom: 5px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 5px;
  background: linear-gradient(to right, rgba(197, 196, 196, 0.08), rgba(197, 196, 196, 0.25)); 
  font-family: poppins;
  }

  .contentWrapper li:hover{
    cursor: pointer;
    background-color:  rgba(197, 196, 196, 0.4);
  }

  .contentWrapper input{
    cursor: pointer;
    height: 20px;
    font-family: cursive;
    font-weight: 600;
    background: linear-gradient(to right, rgba(81, 190, 218, 0), rgba(81, 190, 218, 0.8)); 
    border: none;
    border-radius: 15px;
    color: aliceblue;
    align-self: center;
  }
  .matchesWrapper{
    display: flex;
  }
  .upcomingMatches,
  .pastMatches{
    width: 50%;
  }

  .matchesWrapperContent{
    text-align: start;
  }

  .contentWrapper button{
    border: solid 2px aliceblue;
    color: aliceblue;
    border-radius: 15px;
    height: 40px;
    width: 100px;
    margin: 2%;
    font-size: 0.7rem;
    background-color: transparent;
    align-self: center;
  }
  .contentWrapper button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 2px rgb(81, 190, 218);
    cursor: pointer;
  }
  .contentWrapper::-webkit-scrollbar,
    .matchesWrapper::-webkit-scrollbar {
      width: 6px;
    }
    
    .contentWrapper::-webkit-scrollbar-thumb {
      background-color: rgb(81, 190, 218); 
      border-radius: 15px; 
      border: 0px solid transparent;
    }
    
    .contentWrapper::-webkit-scrollbar-track{
      background-color: transparent; 
    }
  .teamName{
    font-size: 150%;
    cursor: pointer;
  }
  
  .teamNameAndLogo{
    display: flex;
    flex-direction: column;
  }
  .teamNameAndLogo img{
    width: 200px;
    height: 200px;
  }

  h3{
    display: inline;
    font-size: 150%;
    background: linear-gradient(to right, aliceblue, gold);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-family: poppins;
  }



  .yellow-card {
    color: yellow;
    font-weight: bold;
  }
  
  .red-card {
    color: red;
    font-weight: bold;
  }
  
  .goal {
    color: rgb(0, 199, 0);
    font-weight: bold;
  }
  
  
  .own-goal {
    color: orange;
    font-weight: bold;
  }
  
  .penalty {
    color: blue;
    font-weight: bold;
  }
  

  .matchEvents {
    display: flex;
    justify-content: center;
  }
  .matchEvents li {
    width: 100%;
  }
  
  .matchStats {
    display: flex;
    flex-direction: column;
  }
  .stats {
    display: flex; 
    justify-content: center;
    width: 100%;
  }
  .stats ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stats li{
    width: 70%;
  }
.stats ul:nth-child(1) li{
  background: linear-gradient(to left, rgba(197, 196, 196, 0.08), rgba(207, 207, 6, 0.35)); 

}
.stats ul:nth-child(2) li{
  background: linear-gradient(to right, rgba(197, 196, 196, 0.08), rgba(207, 207, 6, 0.35)); 
}

@media (max-width: 1280px) {
  .matchesWrapper{
    flex-direction: column;
    align-items: center;
  }
  .upcomingMatches,
  .pastMatches{
    font-size: 80%;
    width: 100%;
  }
  .matchesWrapper li {
    display: flex;
    justify-content: center;
  }
  .matchesWrapperContent {
    text-align: center;
  }
  .teamNameAndLogo {
    align-items: center;
  }
  .matchStats {
    align-items: center;
    font-size: 70%;
  }
  .matchEvents {
    justify-content: center;
    font-size: 70%;
  }

}
