.NavMenu {
  position: absolute;
  z-index: 4;
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}
.Menu {
  position: relative;
  width: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2.2rem;
  font-family: poppins;
}
.NavigationLink {
  color: aliceblue;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}
.NavigationLink:hover,
.ActiveLink {
  color: rgb(81, 190, 218);
  box-shadow: 0px 3px rgb(81, 190, 218);
}

.logIn {
  position: absolute;
  right: 2%;
}

.activeLogInButton {
  color: rgb(81, 190, 218);
  border: solid 2px rgb(81, 190, 218);
  border: solid 2px aliceblue;
  border-radius: 15px;
  height: 40px;
  width: 70px;
  margin: 2%;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: transparent;
}

.logInButton {
  border: solid 2px aliceblue;
  color: aliceblue;
  border-radius: 15px;
  height: 40px;
  width: 70px;
  margin: 2%;
  font-size: 0.7rem;
  background-color: transparent;
}
.logInButton:hover,
.activeLogInButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px rgb(81, 190, 218);
  cursor: pointer;
}

.hamburger {
  display: none;
}

@media (max-width: 1200px) {
  .Menu {
    padding-left: 5%;
    padding-right: 10%;
  }
}
@media (max-width: 950px) {
  .Menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    transform: translateX(-100%);
    z-index: 1;
    font-size: 1.5rem;
    justify-content: start;
  }
  .NavigationLink {
    height: 30px;
    margin: 5% 0 5% 0;
  }
  .Menu.MenuOpen {
    transform: translateX(0);
  }
  .hamburger {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    background-color: transparent;
  }

  .logIn {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
