.leaguesList {
  width: 15%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: poppins;
  color: aliceblue;
  padding: 10px;
  overflow: hidden;
  top: 15%;
  left: 25%;
  border-radius: 15px;
  max-height: 70vh;
  position: absolute;
  overflow-y: auto;
  z-index: 2;
}

.matchesWrapper {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  color: aliceblue;
  text-align: center;
  font-family: poppins;
  padding: 10px;
  top: 15%;
  right: 25%;
  border-radius: 15px;
  max-height: 70vh;
  min-height: 70vh;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2;
}
h2 {
  font-size: 200%;
  background: linear-gradient(to right, aliceblue, rgb(81, 190, 218));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.matchesWrapperContent {
  text-align: start;
}

.teamName {
  font-size: 150%;
  cursor: pointer;
}

.leaguesList li {
  height: 50px;
  width: 90%;
  margin-bottom: 5px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  background: linear-gradient(
    to right,
    rgba(197, 196, 196, 0.08),
    rgba(197, 196, 196, 0.25)
  );
  font-family: poppins;
}

.leaguesList li:hover {
  cursor: pointer;
  background-color: rgba(197, 196, 196, 0.4);
}

.leaguesList::-webkit-scrollbar,
.matchesWrapper::-webkit-scrollbar {
  width: 6px;
}

.leaguesList::-webkit-scrollbar-thumb,
.matchesWrapper::-webkit-scrollbar-thumb {
  background-color: rgb(81, 190, 218);
  border-radius: 15px;
  border: 0px solid transparent;
}

.leaguesList::-webkit-scrollbar-track,
.matchesWrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.matchesWrapper li {
  border: 1px solid black;
  height: 50px;
  width: 270px;
  margin-bottom: 5px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 5px;
  background: linear-gradient(
    to right,
    rgba(197, 196, 196, 0.08),
    rgba(197, 196, 196, 0.25)
  );
  font-family: poppins;
}

.matchesWrapper li:hover {
  cursor: pointer;
  background-color: rgba(197, 196, 196, 0.4);
}

.matchesWrapper input {
  cursor: pointer;
  height: 20px;
  font-family: cursive;
  font-weight: 600;
  background: linear-gradient(
    to right,
    rgba(81, 190, 218, 0),
    rgba(81, 190, 218, 0.8)
  );
  border: none;
  border-radius: 15px;
  color: aliceblue;
  align-self: center;
}

.matchesWrapper img {
  margin: 0 5px 0 5px;
}

.matchesWrapper button {
  border: solid 2px aliceblue;
  color: aliceblue;
  border-radius: 15px;
  height: 40px;
  width: 100px;
  margin: 2%;
  font-size: 0.7rem;
  background-color: transparent;
  align-self: center;
}
.matchesWrapper button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px rgb(81, 190, 218);
  cursor: pointer;
}

h3 {
  display: inline;
  font-size: 150%;
  background: linear-gradient(to right, aliceblue, gold);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: poppins;
}

.teamNameAndLogo {
  display: flex;
  flex-direction: column;
}
.teamNameAndLogo img {
  width: 200px;
  height: 200px;
}

.yellow-card {
  color: yellow;
  font-weight: bold;
}

.red-card {
  color: red;
  font-weight: bold;
}

.goal {
  color: rgb(0, 199, 0);
  font-weight: bold;
}

.own-goal {
  color: orange;
  font-weight: bold;
}

.penalty {
  color: blue;
  font-weight: bold;
}

.matchEvents {
  display: flex;
}
.matchEvents li {
  width: 100%;
}

.matchStats {
  display: flex;
  flex-direction: column;
}
.stats {
  display: flex; 
  justify-content: center;
}
.stats li{
  width: 100%;
}
.stats ul:nth-child(1) li {
  background: linear-gradient(
    to left,
    rgba(197, 196, 196, 0.08),
    rgba(207, 207, 6, 0.35)
  );
}
.stats ul:nth-child(2) li {
  background: linear-gradient(
    to right,
    rgba(197, 196, 196, 0.08),
    rgba(207, 207, 6, 0.35)
  );
}

.loginPrompt {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40%;
  top: 8%;
  z-index: 3;
  color: red;
  font-size: 150%;
}

.loginPrompt button {
  border: solid 2px aliceblue;
  color: aliceblue;
  border-radius: 15px;
  height: 40px;
  width: 100px;
  margin: 2%;
  font-size: 0.7rem;
  background-color: transparent;
  align-self: center;
}
.loginPrompt button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px rgb(81, 190, 218);
  cursor: pointer;
}

@media (max-width: 1280px) {
  .leaguesList,
  .matchesWrapper {
    width: 60vw;
    left: 20%;
    text-align: center;
    justify-content: center;
  }
  .leaguesList {
    top: 90%;
  }
  .leaguesList li,
  .matchesWrapper li {
    width: 90%;
    font-size: 70%;
  }
  .matchesWrapper li {
    display: flex;
    justify-content: center;
  }
  .matchesWrapperContent {
    text-align: center;
  }
  .loginPrompt {
    left: 4%;
    top: 40%;
    width: 10%;
  }
  .teamNameAndLogo {
    align-items: center;
  }
  .matchStats {
    align-items: center;
  }
  .matchEvents {
    justify-content: center;
  }
}
